In [1]:
import opal
import kglab
import rdflib
import z3
import dateutil.parser
import re

In [2]:

from opal.logic.z3.z3_literal import Z3Literal
from opal.data.event_data import EventData
from opal.data.mapper import LogMapper
from opal.data.processor import LogProcessor
from opal.logic.base.encoding import LogicEncoding

from rdflib import Graph

from z3 import RealSort

In [3]:
data_dir = '../data/'
ttl_data_file = data_dir + 'P1_log_instances.ttl'
sample_log_file = data_dir + 'sample_log.csv'

## Testing Mapping

In [4]:
# load the log
col_dict = {'caseID' : 'caseID', 'activityID' : 'activityID', 'timestamp' : 'timestamp', 'eventID' : None}
processor = LogProcessor(col_dict=col_dict, log_path=sample_log_file)
event_data = processor.load_log()

In [5]:
event_data.data

,caseID,activityID,eventID,timestamp,resourceID,processID
0,C_case_0,A_activity_A,E_0,2016-01-01 09:00:00+00:00,R_user_1,P1
1,C_case_0,A_activity_A,E_1,2016-01-01 09:15:00+00:00,R_user_1,P1
2,C_case_0,A_activity_C,E_2,2016-01-01 09:35:00+00:00,R_user_1,P1
3,C_case_1,A_activity_A,E_3,2016-01-02 09:00:00+00:00,R_user_1,P1
4,C_case_1,A_activity_B,E_4,2016-01-02 09:00:00+00:00,R_user_0,P1
5,C_case_1,A_activity_C,E_5,2016-01-03 09:00:00+00:00,R_user_0,P1
6,C_case_2,A_activity_A,E_6,2016-01-01 09:00:00+00:00,R_user_1,P1
7,C_case_2,A_activity_B,E_7,2016-01-01 09:10:00+00:00,R_user_1,P1
8,C_case_2,A_activity_C,E_8,2016-01-01 09:15:00+00:00,R_user_2,P1
9,C_case_2,A_activity_D,E_9,2017-01-06 10:35:00+00:00,R_user_1,P1

In [6]:
event_data.metadata

{'log_path': '/tmp/tmp2m0rkt33.csv', 'process_name': 'P1'}

In [ ]:
mapper = LogMapper(data=event_data, output_encoding='z3')
z3_data = mapper.get_mapped_data()

2025-06-26 14:53:29,972 | INFO: Translating YARRRML mapping to [R2]RML
INFO | 2025-06-26 14:53:29,972 | Translating YARRRML mapping to [R2]RML
2025-06-26 14:53:29,975 | INFO: RML content is created!
INFO | 2025-06-26 14:53:29,975 | RML content is created!
2025-06-26 14:53:29,982 | INFO: Mapping has been syntactically validated.
INFO | 2025-06-26 14:53:29,982 | Mapping has been syntactically validated.
2025-06-26 14:53:29,984 | INFO: Translation has finished successfully.
INFO | 2025-06-26 14:53:29,984 | Translation has finished successfully.

Generating knowledge graph...

INFO | 2025-06-26 14:53:30,455 | 9 mapping rules retrieved.
INFO | 2025-06-26 14:53:30,465 | Mapping partition with 9 groups generated.
INFO | 2025-06-26 14:53:30,466 | Maximum number of rules within mapping group: 1.
INFO | 2025-06-26 14:53:30,467 | Mappings processed in 0.475 seconds.
INFO | 2025-06-26 14:53:30,864 | Number of triples generated in total: 63.

Knowledge graph generated.

In [18]:
for z3_expr in z3_data:
    print(z3_expr)

hasResource(E_1, R_user_1)
hasRecordedTime(E_1) == 1451639700
hasActivity(E_8, A_activity_C)
hasRecordedTime(E_0) == 1451638800
hasCase(E_4, C_case_1)
Event(E_1)
hasActivity(E_0, A_activity_A)
hasActivity(E_5, A_activity_C)
hasActivity(E_4, A_activity_B)
hasRecordedTime(E_4) == 1451725200
hasResource(E_7, R_user_1)
hasResource(E_8, R_user_2)
Event(E_4)
hasCase(E_7, C_case_2)
Case(C_case_0)
Activity(A_activity_B)
Event(E_7)
hasProcess(C_case_0, P1)
hasRecordedTime(E_2) == 1451640900
Activity(A_activity_A)
hasCase(E_3, C_case_1)
hasRecordedTime(E_6) == 1451638800
Resource(R_user_2)
hasResource(E_2, R_user_1)
hasResource(E_3, R_user_1)
Event(E_2)
hasRecordedTime(E_7) == 1451639400
hasActivity(E_6, A_activity_A)
hasActivity(E_1, A_activity_A)
hasRecordedTime(E_8) == 1451639700
hasResource(E_4, R_user_0)
Event(E_5)
Event(E_3)
hasCase(E_1, C_case_0)
hasProcess(C_case_2, P1)
hasResource(E_9, R_user_1)
hasCase(E_5, C_case_1)
Event(E_8)
Event(E_9)
hasActivity(E_7, A_activity_B)
hasCase(E_9, C_case_2)
hasRecordedTime(E_3) == 1451725200
hasCase(E_2, C_case_0)
Case(C_case_2)
hasRecordedTime(E_5) == 1451811600
hasCase(E_8, C_case_2)
hasActivity(E_3, A_activity_A)
hasResource(E_0, R_user_1)
Activity(A_activity_C)
Resource(R_user_1)
hasResource(E_5, R_user_0)
Event(E_0)
Case(C_case_1)
Resource(R_user_0)
hasCase(E_6, C_case_2)
hasResource(E_6, R_user_1)
Activity(A_activity_D)
Event(E_6)
hasActivity(E_2, A_activity_C)
hasCase(E_0, C_case_0)
hasProcess(C_case_1, P1)
hasRecordedTime(E_9) == 1483698900
hasActivity(E_9, A_activity_D)